body {
  min-width: 320px;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  color: #000;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #000; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/subset-OpenSans.woff2") format("woff2"), url("../fonts/subset-OpenSans.woff") format("woff"), url("../fonts/subset-OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Bold.woff") format("woff"), url("../fonts/subset-ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/subset-ProximaNova-Light.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Light.woff") format("woff"), url("../fonts/subset-ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Regular.woff") format("woff"), url("../fonts/subset-ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/subset-ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Semibold.woff") format("woff"), url("../fonts/subset-ProximaNova-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold; }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  margin: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

.about-question-sm {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -43px -46px;
  width: 42px;
  height: 33px; }

.about-question {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: 0px 0px;
  width: 55px;
  height: 42px; }

.about-rope-sm {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -104px 0px;
  width: 31px;
  height: 32px; }

.about-rope {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -59px 0px;
  width: 41px;
  height: 42px; }

.about-sign-sm {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -104px -36px;
  width: 31px;
  height: 32px; }

.about-sign {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: 0px -46px;
  width: 39px;
  height: 42px; }

.comment-instagram {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -139px -87px;
  width: 21px;
  height: 21px; }

.comment-vk {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -75px -92px;
  width: 30px;
  height: 18px; }

.contacts-location {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -23px -118px;
  width: 13px;
  height: 18px; }

.contacts-phone {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -104px -72px;
  width: 16px;
  height: 16px; }

.contacts-time {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: 0px -118px;
  width: 19px;
  height: 19px; }

.footer-instagram {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -139px -59px;
  width: 24px;
  height: 24px; }

.footer-phone {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -109px -92px;
  width: 18px;
  height: 18px; }

.footer-placeholder {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: 0px -141px;
  width: 14px;
  height: 20px; }

.footer-twitter {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -139px 0px;
  width: 28px;
  height: 24px; }

.footer-vk {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -39px -92px;
  width: 32px;
  height: 19px; }

.routes-avatar {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: -139px -28px;
  width: 24px;
  height: 27px; }

.routes-mountain {
  background-image: url(../img/sprite-07524884809346992.png);
  background-position: 0px -92px;
  width: 35px;
  height: 22px; }

.contacts-phone {
  display: inline-block; }

.contacts-location {
  display: none; }

.contacts-time {
  display: none; }

.about-rope-sm {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-left: 10px; }

.about-sign-sm {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-left: 9px; }

.about-question-sm {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-left: 14px; }

.comment-instagram {
  display: inline-block; }

.comment-vk {
  display: inline-block; }

.page-header {
  width: 100%; }
  .page-header__contacts {
    background-color: #e9e9f1;
    min-height: 30px;
    position: relative; }
  .page-header__logo {
    display: none; }
  .page-header__order-btn {
    display: none; }
  .page-header__nav {
    display: none; }

.title {
  font-size: 40px;
  text-align: center;
  font-family: "ProximaNova-Bold", sans-serif; }
  .title--white {
    color: #fff; }

.title span {
  padding: 10px 0;
  border-bottom: 2px solid;
  box-sizing: border-box; }

.btn {
  padding: 10px 25px;
  background: transparent;
  border: 1px solid black;
  font-family: "ProximaNova-Regualar", sans-serif; }
  .btn--red {
    background-color: #932626;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2; }

.contacts {
  float: left;
  padding-left: 15px;
  box-sizing: border-box; }
  .contacts__time {
    display: none; }
  .contacts__phone {
    display: inline-block;
    margin-top: 3px;
    padding-left: 5px; }
  .contacts__location {
    display: none; }

.main-nav__toggle {
  float: right;
  padding-right: 15px;
  border: none;
  border-left: 4px dotted #000;
  background: rgba(255, 255, 255, 0);
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box; }

.rocks {
  background-image: url(../img/rocks.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: calc( 100vh - 40px);
  width: 100%; }
  .rocks__title {
    padding-top: 80px;
    padding-bottom: 80px; }
  .rocks__text {
    color: #22313f;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 40px;
    width: 70%; }
    .rocks__text--desktop {
      display: none; }
  .rocks__order-btn {
    margin-left: 15px; }

.routes {
  background-image: url(../img/routes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 530px;
  position: relative; }

.trace {
  display: none; }

.trace-ride__img {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -125px 0 0 -125px; }

.trace-ride img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none; }

.trace-ride__wrap:before {
  background-color: #000;
  position: absolute;
  content: '';
  bottom: -28%;
  top: 0;
  left: 18px;
  width: 85.7%;
  opacity: 0.5;
  z-index: 1; }

.trace-ride__title {
  position: absolute;
  content: '';
  color: #c7c7d3;
  z-index: 2;
  top: -15px;
  left: 20%;
  font-size: 30px;
  font-family: "ProximaNova-Bold", sans-serif; }

.trace-ride__height {
  position: absolute;
  content: '';
  color: #fff;
  z-index: 2;
  top: 65px;
  left: 25%;
  font-size: 16px;
  color: #f9f9f9; }

.trace-ride__age {
  position: absolute;
  content: '';
  color: #fff;
  z-index: 2;
  top: 95px;
  left: 25%;
  font-size: 16px;
  color: #f9f9f9; }

.trace-ride__text {
  position: absolute;
  content: '';
  color: #fff;
  z-index: 2;
  top: 180px;
  left: 13%;
  font-size: 16px;
  color: #f9f9f9;
  width: 72%;
  text-align: center; }

.share__container {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%; }

.share__title {
  margin-bottom: 60px; }

.share__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%; }

.share__img {
  padding-bottom: 15px;
  position: relative;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.share img {
  height: 243px;
  width: 100%;
  object-fit: cover; }

.share__text {
  position: absolute;
  content: '';
  left: 0;
  color: #fff;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 24px;
  bottom: 25px;
  left: 3%;
  white-space: pre-line;
  text-align: left; }

.share-offers {
  position: relative;
  bottom: 10px; }
  .share-offers__title {
    position: absolute;
    content: '';
    width: 100%;
    top: -100px; }

.about__container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex; }

.about__about-background {
  background-image: url(../img/about-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: bottom;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column; }

.about__title {
  margin-bottom: 40px;
  margin-top: 40px; }

.about__wrap {
  width: 293px;
  margin: 0 auto;
  margin-top: 30px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.about__wrap:last-child {
  margin-bottom: 40px; }

.about__about-text {
  color: #fff;
  width: 202px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 14px; }

.about__circle {
  position: absolute;
  box-shadow: 0 0 0 2px #fff;
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  top: -12px;
  left: -10px; }

.album__container {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px; }

.album__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.price table {
  display: none; }

.price__container {
  padding-left: 15px;
  padding-right: 15px; }

.price__title {
  margin-bottom: 55px; }

.price__order-link {
  display: block;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
  position: relative;
  z-index: 2; }

.price-mobile {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .price-mobile__text {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 2px solid;
    font-size: 16px; }
  .price-mobile__total {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 2px solid;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    box-sizing: border-box;
    position: relative;
    z-index: 2; }
  .price-mobile__rub {
    position: absolute;
    right: 15px; }
  .price-mobile__personal {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 2; }
  .price-mobile__personal-text {
    font-size: 10px;
    -ms-flex-positive: 2;
        flex-grow: 2;
    width: 83%;
    position: relative;
    z-index: 2; }
  .price-mobile__personal-rub {
    text-align: left;
    font-size: 10px;
    width: 17%;
    position: relative;
    z-index: 2; }

.comment {
  position: relative; }
  .comment__background {
    background-image: url(../img/prices-sm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 660px;
    width: 100%;
    position: absolute;
    margin-top: -70px;
    z-index: 1; }
  .comment__title {
    position: relative;
    z-index: 3;
    padding-top: 20px; }
  .comment__wrap {
    background: #ececec;
    opacity: 0.5;
    position: relative;
    z-index: 2;
    min-height: 560px;
    margin-top: -70px;
    margin-left: 15px;
    margin-right: 15px; }

.comment-people {
  position: absolute;
  top: 145px;
  left: 10%;
  width: 80%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 3;
  -ms-flex-align: center;
      align-items: center; }
  .comment-people__img {
    width: 155px; }
  .comment-people__name {
    font-size: 16px;
    padding-top: 8px; }
  .comment-people__personal {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 10px; }
  .comment-people__text {
    padding-top: 15px;
    width: 165px; }

.page-footer__container {
  background-color: #22313f;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }

.page-footer__map-wrap {
  width: 100%;
  height: 300px;
  margin-top: 31px; }

.map {
  width: 100%;
  height: 300px; }

/*# sourceMappingURL=style.css.map */
