.about{

	&__container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__about-background{
		background-image: url(../img/about-sm.jpg);
		background-position: center; 
		background-repeat: no-repeat;	
		background-position: bottom;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		flex-direction: column;

		@media(min-width: '$screen-sm'){
			background-image: url(../img/about-md.jpg);
			background-position: center; 
			background-repeat: no-repeat;	
			background-position: bottom;
			min-width: 100%;
			min-height: 385px;
			margin-top: -60px;
			flex-direction: row;
			margin-top: 40px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		@media(min-width: '$screen-lg'){
			background-image: url(../img/about-lg.jpg);
		}

	}

	&__title{
		margin-bottom: 40px;
		margin-top: 40px;

		@media(min-width: '$screen-sm'){
			width: 100%;
		}

	}

	&__wrap{
		margin-top: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		@media(min-width: '$screen-sm'){
			display: block;	
			flex-direction: column;
			max-width: 210px;
			min-height: 185px;
			margin-left: 20px;
		}

		@media(min-width: '$screen-lg'){
			margin: 0 auto;
		}
	}

	&__wrap:last-child{
		margin-bottom: 40px;
	}

	&__about-text{
		color: $white;
		width: 202px;
		margin-left: 15px;
		padding-right: 10px;
		font-size: 14px;
		
		@media(min-width: '$screen-sm'){
			margin: 0 auto;
		}
	}

	&__circle{	
		box-shadow:  0 0 0 2px $white;
		width:55px;
 		height:55px;
 		border-radius:50px;
 		-moz-border-radius:50px;
 		-webkit-border-radius:50px;
 		-khtml-border-radius:50px;
 		display: -webkit-flex;
 		display: -moz-flex;
 		display: -ms-flex;
 		display: -o-flex;
 		display: flex;
 		flex-direction: column;
 		justify-content: center;

 		@media(min-width: '$screen-sm'){
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}
}