.about{

	&__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	}

	&__about-background{
	background-image: url(../img/about-sm.jpg);
	background-position: center; 
	background-repeat: no-repeat;	
	background-position: bottom;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	flex-direction: column;
	}

	&__title{
		margin-bottom: 40px;
		margin-top: 40px;
	}

	&__wrap{
		width: 293px;
		margin: 0 auto;
		margin-top: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
	}

	&__wrap:last-child{
		margin-bottom: 40px;
	}

	&__about-text{
		color: $white;
		width: 202px;
		padding-left: 5px;
		padding-right: 10px;
		font-size: 14px;
	}

	&__circle{	
		position: absolute;
	box-shadow:  0 0 0 2px $white;
	width:55px;
 	height:55px;
 	display: inline-block;
 	border-radius:50px;
 	-moz-border-radius:50px;
 	-webkit-border-radius:50px;
 	-khtml-border-radius:50px;
 	top: -8px;
 	left: -8px;
	}
}