.comment-people{
	position: absolute;
	top: 145px;
	left: 10%;
	width: 80%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
	align-items: center;

	@media(min-width: '$screen-sm'){
		position: relative;
		display: inline-block;
		width: 30%;
		vertical-align: top;
		margin: 0 auto;
		text-align: center;
		left: 5%;
	}


	&__img{
		width: 155px;
	}

	&__name{
		font-size: 16px;
		padding-top: 8px;
	}
	
	&__personal{
		font-size: 16px;
		padding-top: 2px;
		padding-bottom: 10px;
	}

	&__text{
		padding-top: 15px;
		width: 165px;

		@media(min-width: '$screen-sm'){
		width: 100%;
		}
	}
}