.contacts{
	float: left;
	padding-left: 15px;
	box-sizing: border-box;

		&__time{
			display: none;
		}
		&__phone{
			display: inline-block;
			margin-top: 3px;
			padding-left: 5px;
		}
		
		&__location{
			display: none;
		}
	
	}