.footer-nav{
margin-bottom: 30px;

&__item{
	float: list;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: -15px;
	margin-bottom: 7px;
}

&__link{
	color: $footer-text;
	text-transform: uppercase;
}
}