.page-footer{
	&__container{
		background-color: $footer;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column-reverse;
	}

	&__map-wrap{
  width: 100%;
  height: 300px;
  background-color: black;
  margin-top: 30px;

	}
}

