.price{

	@media(min-width: '$screen-sm'){
		&__background{
			background-image: url(../img/prices.jpg);
			background-position: top;
			background-position: 0 50px; 
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			padding-bottom: 75px;

			@media(min-width: '$screen-lg'){
				background-position: 0 50px;
				// width: 1215px;
				margin: 0 auto;
			}
		}
	}
	
	&__container{
		padding-left: 15px;
		padding-right: 15px;
	}

	&__title{
		margin-bottom: 55px;

		@media(min-width: '$screen-sm'){
			margin-bottom: 30px;
		}
	}

	&__order-link{
		display: block;
		text-align: center;
		text-decoration: underline;
		padding-bottom: 30px;
		position: relative;
		z-index: 2;

		@media(min-width: '$screen-sm'){
			display: inline-block;
			padding-left: 90px;
		}
	}

	&__table-price{
	display: none;

	@media(min-width: '$screen-sm'){
		display: inline-block;
		width: 100%;
		border-collapse: separate;	
		box-sizing: border-box;	
	}
	}

	&__table-age{
	@media(min-width: '$screen-sm'){
		background-color: $table-age;
		text-transform: uppercase;
		color: $white;
		font-size: $font-size + 2px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;

		&--small{
			text-transform: lowercase;
			display: block;
		}

		&--desktop{
			display: none;
		}
	}

	}

	&__table-time{
		background-color: $table-time;
		padding-top: 15px;
		padding-bottom: 15px;
		color: $rocks-text;
		text-align: center;
		font-size: $font-size + 2px;
		text-align: right;
		padding-right: 10px;

			&--bold{
				font-family: $family-ProximaB;
			}	
	}

	&__table-trace{
		background-color: $table-age;
		width: 20%;
		color: $white;
		text-align: center;
		white-space: pre;
		text-transform: uppercase;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;	
	}

	&__table-price{
		width: 50%;
		color: $rocks-text;
		text-align: center;
		white-space: pre;
		text-transform: uppercase;	
	}

	&__table-hour{
		padding-top: 20px;
		padding-bottom: 20px;
		color: $rocks-text;
		font-size: $font-size + 2px;
	}

	&__table-personal{
		padding-top: 15px;
		padding-bottom: 15px;
		color: $rocks-text;
		font-size: $font-size + 2px;
		background-color: $table-time;
	}

	&__table-rub{
		text-align: center;
		height: 65px;
		box-sizing: border-box;
		
		&--small{
			background-color: $table-time;
			text-transform: lowercase;
		}

		&:hover{
			border: 2px solid;
			box-sizing: border-box;
		}
	}
}

	.active-rub{
		position: relative;
		border: 2px solid red;
	}

	.active-rub:before{
		position: absolute;
  		content: '';
  		border-left: 2px solid red;
  		height: 12px;
  		width: 2px;
  		transform: rotate(135deg);
  		display: inline-block;
  		right: 65px;
  		bottom: 20px;
	}

	.active-rub:after{
		position: absolute;
  		content: '';
  		border-left: 2px solid red;
  		height: 22px;
  		width: 2px;
  		transform: rotate(225deg);
  		display: inline-block;
  		right: 53px;
  		bottom: 20px;
	}