.routes{
		background-image: url(../img/routes.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 530px; 
	position: relative;
}