.share-offers{
	position: relative;
	bottom: 10px;

	&__title{
		position: absolute;
		content: '';
		width: 100%;
		top: -100px;

		@media(min-width: '$screen-sm'){
		position: relative;
		margin-top: 100px;
		margin-bottom: -30px;
		}

		@media(min-width: '$screen-lg'){
			padding-top: 40px;
		}
	}
}