.share{
	// position: relative;

	// &__container{
	// 	position: absolute;
	// 	content: '';
	// 	width: 100%;
	// 	top: -100px;

	// }

	&__container{
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		width: 100%;
	}

	&__title{
		margin-bottom: 60px;

		@media(min-width: '$screen-sm'){
			margin-bottom: 0;
		}
	}

	&__wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
    	width: 100%;
    	height: 100%;
		
		@media(min-width: '$screen-lg'){
			flex-direction: row;
		}

	}

	&__img{
		padding-bottom: 8px;
    	position: relative;
    	margin: 0 auto;
    	align-self: center;
	}


	img{
		height: 243px;
		width: 100%;
		object-fit: cover;

		@media(min-width: '$screen-lg'){
			height: auto;
		}
	}

	&__text{
		position: absolute;
		content: '';
		left: 0;
		color: $white;
		font-family: $family-ProximaB;
		font-size: 24px;
		bottom: 30px;
		left: 3%;
		white-space: pre-line;
		text-align: left;
	}

	&__dark{
		
		position: absolute;
		content: '';
		width: 100%;
		height: 243px;
		background-color: rgba(0,0,0,0.8);
		display: none;
		@media(min-width: '$screen-lg'){
		width: 358px;
		height: 342px;	
	}
	}

	&__dark-text{
		position: absolute;
		color: $white;
		border-bottom:1px solid $white;
		left: 132px;
		top: 151px;
	}

}