@include sprites($spritesheet-sprites);
.contacts-phone{
				display: inline-block;
			}

.contacts-location{
	display: none;
}

.contacts-time{
	display: none;
}

.about-rope-sm{
	display: inline-block;
	align-self: center;
	position: relative;
	margin-left: 10px;
			
}

.about-sign-sm{
	display: inline-block;
	align-self: center;
	position: relative;
	margin-left: 9px;
	
}

.about-question-sm{
	display: inline-block;
	align-self: center;
	position: relative;
	margin-left: 14px;
	
}

.comment-instagram{
	display: inline-block;
}

.comment-vk{
	display: inline-block;
}