@include sprites($spritesheet-sprites);
.contacts-phone{
				display: inline-block;
			}

.contacts-location{
	display: none;
}

.contacts-time{
	display: none;
}

.about-rope-sm{
	display: inline-block;
	align-self: center;
	position: relative;
	margin-left: 10px;
			
}

.about-sign-sm{
	display: inline-block;
	align-self: center;
	position: relative;
	margin-left: 9px;
	
}

.about-question-sm{
	display: inline-block;
	align-self: center;
	position: relative;
	margin-left: 14px;
	
}

.comment-instagram{
	display: inline-block;
}

.comment-vk{
	display: inline-block;
}

.footer-placeholder{
	display: inline-block;

}

.footer-phone{
	display: inline-block;
	margin-top: 2px;
}

.footer-twitter{
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
}

.footer-vk{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.footer-instagram{
	display: inline-block;
}