@include sprites($spritesheet-sprites);

.contacts-phone{
	display: inline-block;

	@media(min-width: '$screen-sm'){
	display: inline-block;
	margin-left: 50px;
	margin-top: 3px;
	}	
}

.contacts-location{
	display: none;

	@media(min-width: '$screen-sm'){
	display: inline-block;
	margin-left: 50px;
	margin-top: 3px;
	}
}


.contacts-time{
	display: none;

	@media(min-width: '$screen-sm'){
	display: inline-block;
	}
}

.about-rope-sm{
	display: block;
	margin: 0 auto;	
}

.about-sign-sm{
	display: block;
	margin: 0 auto;	
}

.about-question-sm{
	display: block;
	margin: 0 auto;	
}

.comment-instagram{
	display: inline-block;
}

.comment-vk{
	display: inline-block;
}

.footer-placeholder{
	display: inline-block;
	margin-right: 10px;

}

.footer-phone{
	display: inline-block;
	margin-top: 2px;
	margin-right: 10px;

	@media(min-width: '$screen-lg'){
		margin-left: 40px;
	}
}

.footer-twitter{
	display: inline-block;
	margin-left: 25px;
	margin-right: 10px;
}

.footer-vk{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.footer-instagram{
	display: inline-block;
}