$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$text-color:                  #000;

$family-Open:                 'OpenSans', sans-serif;
$family-ProximaB:             'ProximaNova-Bold', sans-serif;
$family-ProximaL:             'ProximaNova-Light', sans-serif;
$family-ProximaR:             'ProximaNova-Regualar', sans-serif;
$family-ProximaS:             'ProximaNova-Semibold', sans-serif;
$font-size:                   14px;
$grey:						  #efeff4;
$darkgrey:					  #4a5662;	
$header-grey:                 #e9e9f1;	
$black:						  #000;	
$white:						  #fff;
$rocks-text:				  #22313f;	
$traces-title:				  #c7c7d3;	
$traces-text:				  #f9f9f9;
$price:				  		  #f1f1f1;
$btn-red:				  	  #932626;
$comment:                     rgba(236,236,236,1);
$footer:					  rgba(34,49,63,1);
